<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - Adventure Works</title>

		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/css/table-new.css" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<span class="appname">Adventure Works Demo</span>
			</div>
		</div>
		<div class="content">
			<div class="container">
				@RenderBody()
				<hr />
			</div>
		</div>
		<div class="footer">
			<div class="container">
				Made for .NET Core 1.0 RC2 by Red Hat - View on GitHub
			</div>
		</div>
	</body>
</html>
