html,body {
	padding: 0;
	margin: 0;
	color: #444;
	background-color: whitesmoke;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

hr {
	border: 0;
	border-bottom: 1px dashed #CCC;
	background: #999;
}

h2 {
	margin: 0;
	margin-bottom: 5px;
}

h3 {
	margin: 0;
}

h4 {
	font-size: 1.20em;
}

.header {
	background-color: #404040;
	color: white;
	height: 70px;
}

.floater {
	float: left;
	height: 50%;
	width: 100%;
	margin-bottom: -50px;
}

.appname {
	font-size: 1.8em;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 15px;
}

.footer {
	font-size: 0.8em;
	padding-bottom: 30px;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.inline {
	display: inline-block;
}

.width-40-percent {
	width: 49%;
}

.highlight {
	color: #2554C7;
}

.employee-header {
	margin-top: 10px;
	margin-bottom: 30px;

	height: 95px;
}

.employee-header img {
	position: relative;
	top: 5px;
	margin-right: 10px;
}

img.applogo {
	position: relative;
	top: 20px;
}

a {
	text-decoration: none;
	color: #2554C7;
}
